.vscode
.DS_STORE
node_modules
.module-cache
*.log*
dist
docs-dist
lib
.idea
.docz
.tscache
package-lock.json
*.tsbuildinfo*
yarn.lock
coverage
landing/out
.next/
.env
out
out_test
landing-friend-config.ts
public
SEO